
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    max-width: 300px;
  }
  
  
  .label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
  }
  
  
  .inputClassName {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    margin-top: 4px;
    transition: border-color 0.3s;
  }
  
  
  .inputClassName:focus {
    border-color: #007bff;
  }
  